---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Tommy"
  pubDate={new Date("January 22 2025")}
  heroImage="/tommy-headshot-mohawk-square.jpg"
>
  <p>
    Howdy. I'm a software engineer living in Austin and I don't know <a
      href="https://astro.build/">Astro</a
    > well enough yet to shrink my photo.
  </p>
</Layout>
