---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      Let&apos;s work together at Onebrief. It&apos;s amazing over here!
      <a href="https://jobs.ashbyhq.com/onebrief">
        Check out our open positions.
      </a>
    </main>
    <Footer />
  </body>
</html>
