---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { type CollectionEntry, getCollection, render } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("musings")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

type Props = CollectionEntry<"musings">;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        background-color: #fff;
        border-radius: 1rem;
        padding: 1rem;
      }
      .date {
        color: rgb(var(--gray));
        font-size: small;
        text-align: right;
      }

      .content {
        display: flex;
        gap: 1rem;
      }

      .content :global(p:first-of-type) {
        margin: 0;
      }

      .content :global(p) {
        margin: 0.5rem 0 0 0;
      }

      .avatar {
        /* text-align: left; */
        height: 64px;
        width: 64px;
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map(async (post) => {
              const { Content } = await render(post);
              return (
                <li>
                  <div class="content">
                    <img src="/avatar-64.png" alt="" class="avatar" />
                    <div class="musing">
                      <Content />
                    </div>
                  </div>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} showTime />
                  </p>
                </li>
              );
            })
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
