---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import QuipsContent from "../content/quips.md";
---

<style>
  .note {
    background-color: rgb(219 234 254);
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.25rem;
    padding: 1rem;
  }

  ul {
  list-style-type: none;
  }

  li {
  margin-bottom: 1rem;
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p class="note">
        The quips below are nuggets of wisdom that I've collected over the years
        from many sources such as mentors, books, blogs, etc. I find value in
        them because I can frequently relate a lesson from these quips to a
        given — usually business — situation. A few are my own but most aren't.
        Some have been modified to better suit my liking.
      </p>

      <QuipsContent />
      {/* The 7 habits:

    Be Proactive:The proactive approach to a mistake is to acknowledge it instantly, correct and learn from it.
    Begin With the End in Mind:Your most important work is always ahead of you, never behind you.
    Put First Things First:Effective leadership is putting first things first. Effective management is discipline, carrying it out.
    Think Win-Win:When one side benefits more than the other, that's a win-lose situation. To the winner it might look like success for a while, but in the long run, it breeds resentment and distrust.
    Seek First to Understand, Then to Be Understood:Most people do not listen with the intent to understand; they listen with the intent to reply.
    Synergize:Synergy is better than my way or your way. It's our way.
    Sharpen the Saw:We must never become too busy sawing to take time to sharpen the saw.

The Business Principles of the Toyota Way

    Long-Term Philosophy
        Principle 1: Base your management decisions on a long term philosophy, even at the expense of short term financial goals
    The right process will produce the right results
        Principle 2: Create continuous process flow to bring problems to the surface
        Principle 3; Use "pull" systems to avoid overproduction
        Principle 4: Level out the workload (heijunka)
        Principle 5: Build a culture of stopping to fix problems, to get quality right the first time
        Principle 6: Standardized tasks are the foundation for continuous improvement and employee empowerment
        Principle 7: Use visual control so no problems are hidden
        Principle 8: Use only reliable, thoroughly tested technology that serves your people and processes
    Add value to the organization by developing your people and partners
        Principle 9: Grow leaders who thoroughly understand the work, live the philosophy, and teach it to others
        Principle 10: Develop exceptional people and teams who follow your company's philosophy
        Principle 11: Respect your extended network of partners and suppliers by challenging them and helping them improve
    Continuously solving root problems drives organizational learning
        Principle 12: Go and see for yourself to thoroughly understand the situation (genchi genbutsu)
        Principle 13: Make decisions slowly by consensus, thoroughly considering all options; implement decisions rapidly
        Principle 14: Become a learning organization through relentless reflection (hansei) and continuous improvement (kaizen)

Deming's 14 Points of Management

    Create constancy of purpose toward improvement of product and service, with the aim to become competitive and to stay in business, and to provide jobs.
    Adopt the new philosophy. We are in a new economic age. Western management must awaken to the challenge, must learn their responsibilities, and take on leadership for change.
    Cease dependence on inspection to achieve quality. Eliminate the need for inspection on a mass basis by building quality into the product in the first place.
    End the practice of awarding business on the basis of price tag. Instead, minimise the total cost. Move toward a single supplier for any one item, on a long-term relationship of loyalty and trust.
    Improve constantly and forever the system of production and service, to improve quality and productivity, and thus constantly decrease costs.
    Institute training on the job.
    Institute leadership. The aim of supervision should be to help people and machines and gadgets to do a better job. Supervision of management is in need of overhaul, as well as supervision of production workers.
    Drive out fear, so that everyone may work effectively for the company.
    Break down barriers between departments. People in research, design, sales, and production must work as a team, to forsee problems of production and in use that may be encountered with the product or service.
    Eliminate slogans, exhortations, and targets for the work force asking for zero defects and new levels of productivity. Such exhortations only create adversarial relationships, as the bulk of the causes of low quality and low productivity belong to the system and thus lie beyong the power of the work force.
        Eliminate work standards (quotas) on the factory floor. Substitute leadership.
        Eliminate management by objective. Eliminate management by numbers, numerical goals. Substitute leadership.
        Remove barriers that rob the hourly worker of his right to pride of workmanship. The responsibility of supervisors must be changed from sheer numbers to quality.
        Remove barriers that rob people in management and in engineering of their right to pride of workmanship. This means, inter alia, abolishment of the annual or merit rating and of management by objective.
    Institute a vigorous program of education and self-improvement.
    Put everybody in the company to work to accomplish the transformation. The transformation is everybody's job. */}
    </main>
    <Footer />
  </body>
</html>
